html, body {
  font-family: arial,sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
}

#navbar {
  padding-bottom: 80px
}

#navbar a {
  display: block;
  text-decoration: none;
  margin-right: 10px;
  color: #000;
  opacity: .75;
  font-size: .85em;
}

#navbar a:hover {
  text-decoration: underline;
}

li:first-child {
  opacity: .55;
}

li {
  display: inline;
  float: left;
  margin-right: 5px;
}

li:nth-child(-n+3) {
  margin-top: 12px;
}

#container {
  padding-bottom: 150px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#doodle {
  margin-bottom: 20px;
}

#input_form {
  display: block;
  width: 490px;
  height: 25px;
}

.button {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  height: 30px;
  margin: 0px 5px;
}

.button.button:hover {
background:#fff;
color:#09C;
}

#french_offer {
  margin: 50px auto;
  text-align: center;
  font-size: small
}

#french_offer a {
  text-decoration: none;
  color: #12c;
}

#french_offer a:hover {
  text-decoration: underline;
}

#footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
  background: #f2f2f2;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  font-size: 10pt;
}

span {
  line-height: 40px;
  vertical-align: middle;
  word-spacing: 30px;
}

span a {
  text-decoration: none;
  color: #666;
}

span a:hover {
 text-decoration: underline;
}

#footer_left {
  float: left;
  margin-left: 30px;
}

#footer_right {
  float: right;
  margin-right: 30px;
}